{% extends 'flatpages/default.html' %}

{%block content%}
<p style="color:blue">Рита знала, что рана ее смертельна и что умирать она будет долго и трудно.<br>
    Пока боли почти не было, только все сильнее пекло в животе и хотелось пить.<br>
    Но пить было нельзя, и Рита просто мочила в лужице тряпочку и прикладывала к губам.<br></p>
<p style = "color:red">Васков спрятал ее под еловым выворотнем, забросал ветками и ушел.<br>
    По тому времени еще стреляли, но вскоре все вдруг затихло, и Рита заплакала. <br>
    Плакала беззвучно, без вздохов, просто по лицу текли слезы: она поняла, что Женьки больше нет…<br></p>
{%endblock content%}